.button {
  background-color: #11750e;
  border: none;
  color: white;
  padding: 15px;
  margin: 10px;
  text-align: center;
  font-size: 16px;
  border-radius: 4px;
  transition: 0.5s;
  font-family: inherit;
}

.button:hover {
  background-color: crimson;
}