.outerWrapper {
  display: flex;
  flex-direction: column;
}

.innerWrapper {
  display: flex;
  flex-direction: row;
}

.input {
  margin: 5px;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.frame {
  border: solid lightgrey 1px;
  background-color: aliceblue;
  box-shadow: 3px 5px lightgrey;
  border-radius: 3px;
  padding: 5px;
  margin: 5px;
}



